@import '~mand-mobile/components/_style/mixin/util'
// 2.x
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'

@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

color-primary = #749985

button-primary-active-fill = #587565

popup-title-bar-color-button-right = #749985